# This is the notebook to make Fig. 3 for COSN manuscript
By Xiaobians, Chuanpeng Hu, and Qing Wang(Vincent)

In [1]:
# from pathlib import Path
import sys
proj_path_str='..'
sys.path.append(proj_path_str)
from pathlib import Path
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime

# Read data
data_dir = Path(proj_path_str) / 'data'
data_tab_file  = data_dir / 'os_organizations.csv'

#
data_df = pd.read_csv(data_tab_file, sep=',', header=0, index_col=None)
data_df

         country rep_code  developed                 platform       full_name
0             UK      GBR        1.0  Reproducibility Network  United Kingdom
1             UK      GBR        1.0  Reproducibility Network  United Kingdom
2             UK      GBR        1.0  Reproducibility Network  United Kingdom
3             UK      GBR        1.0  Reproducibility Network  United Kingdom
4             UK      GBR        1.0  Reproducibility Network  United Kingdom
..           ...      ...        ...                      ...             ...
994          USA      USA        1.0                     SIPS             USA
995          USA      USA        1.0                     SIPS             USA
996          USA      USA        1.0                     SIPS             USA
997    Australia      AUS        1.0                     SIPS       Australia
998  Netherlands      NLD        1.0                     SIPS     Netherlands

[999 rows x 5 columns]

In [2]:
data_df.platform.unique()

array(['Reproducibility Network', 'COS ambassador', 'ReproducibiliTea',
       'OSGCN', 'SIPS'], dtype=object)